/*Initial Reset*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
    background-color: #25408F; 
    width: 960px;
    height: auto;
}

/* MENU*/

nav 
{
	width: 100%;
	height: 70px;
    margin-top: 40px;
    background-color: aliceblue;
	position: fixed;
	font-size: 1.5rem;
    z-index: 2;
}

#menu 
{
	list-style-type: none;
	width: 850px;
	overflow: hidden;
	margin: auto;
	line-height: 35px;
    margin-top: 17.5px;
    background-color: yellow;
}

.elementMenu
{
	float: left;
	margin: 0px 35px 0px 35px;
	/*background-color: red;*/
}

.elementMenu>a 
{
	color: #25408F;
    text-decoration: none;
}

.elementMenu > a:hover 
{
	text-decoration: underline;
}


/* SUBMENU */

#submenu
{
	width:100px;
	height: auto;
	position: absolute;
	background-color: aliceblue;
	top:50px;
	list-style: none;
	display: none;
}

.submenuElement 
{
	width: 100%;
	height: 40px;
	line-height: 40px;
}


.submenuElement>a
{
	font-size: 1.2rem;
	text-decoration: none;
	color: #25408F;
}


.submenuElement > a:hover
{
	font-weight: bold;
}

.elementMenu:hover #submenu 
{
	display: block;
}

/* IMAGE AND LOGO TECH SHOP */


.imgLogo
{
    width: 900px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    background-color: yellow;
    margin-top: 150px;
    margin-left: 240px;
}

#image
{
    height: 500px;
    width: auto;
    position: absolute;

}

h1 
{
    width: 300px;
    height: 70px;
    position: relative;
    margin-top: 330px;
    margin-left: 480px;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    color: #25408F;
}

/* SHOP */

#containerLabeltabs
{
	width: 50%;
	background-color: tomato;
    margin: auto;
	overflow:hidden;
	margin-top: 150px;
    position: absolute;
}


.labelTabs
{
	background-color: black;
/*	margin: 0px 0px 0px 200px ;*/
	width: 20%; /*Añado esta linea para que al hacer hover no se descoloque "Rober"*/
	font-size: 1.5rem;
	color:white;
	float: left;
	text-align: center;
}

.labelTabs>a
{
	text-decoration: none;
	color: white;
}

.labelTabs:hover
{
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}
