/*Initial Reset*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
    background-color: #25408F; 
    width: 960px;
    height: auto;
}

/*************************************/
/* MENU*/

nav 
{
	width: 100%;
	height: 70px;
    margin-top: 40px;
	position: absolute;
	font-size: 1.5rem;
    z-index: 2;
    background-color: white;
}

#mediaLogo
{
    position: absolute;
    width: 112px;
    margin-left: 14.5%;
    
}

#menu 
{
	list-style-type: none;
	width: 850px;
	overflow: hidden;
	margin: auto;
	line-height: 35px;
    margin-top: 17.5px;
   /* background-color: yellow;*/
}

.elementMenu
{
	float: left;
	margin: 0px 35px 0px 35px;
	/*background-color: red;*/
}

.elementMenu>a 
{
	color: #25408F;
    text-decoration: none;
}

.elementMenu > a:hover 
{
	text-decoration: underline;
}


/* SUBMENU */

#submenu
{
	width:100px;
	height: auto;
	position: absolute;
	top:50px;
	list-style: none;
	display: none;
    background-color: aliceblue;
}

.submenuElement 
{
	width: 100%;
	height: 40px;
	line-height: 40px;
}


.submenuElement>a
{
	font-size: 1.2rem;
	text-decoration: none;
	color: #25408F;
}


.submenuElement > a:hover
{
	font-weight: bold;
}

.elementMenu:hover #submenu 
{
	display: block;
}

/*************************************/
/* IMAGE TECH SHOP */

.imgLogo
{
    width: 900px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    margin-top: 150px;
    margin-left: 240px;
    background-color: yellow;
}

#image
{
    height: 500px;
    width: auto;
    position: absolute;

}

h1 
{
    width: 300px;
    height: 70px;
    position: relative;
    margin-top: 330px;
    margin-left: 480px;
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    color: #25408F;
    background-color: white;
}


/*************************************/
/* SHOP */

#products
{
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 100px;
    /*background-color: coral;*/
}

.containerLab
{
   /*background-color: violet;*/
    text-align: center;
    margin-left: 100px;
    color: black;
}

.product
{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 15px;
    background-color: aliceblue;
}

#contDisplay, #contKeyboard, #contMouse, #contLaptop
{
    width: 1300px;
    height: 520px;
    margin-top: 30px;
    /*background-color: aquamarine;*/
}

.product:hover{
	transform: scale(1.1,1.1);
	cursor: pointer;
	border-radius: 5%;
}

h2
{
    color: aliceblue;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

h3
{
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: black;
}

/* FOOTER SHOP*/

#footer
{
    width: 25px;
    height: 30px;
    margin-top: 2240px;
    margin-left: 94%;
    position: absolute;
   /* background-color: fuchsia;*/
    z-index: 2;
    text-align: center;
    overflow: hidden;
    
}

#iconBox
{
    /*background-color: green;*/
    width: 100%;
}

/*************************************/
/* ABOUT US */

#aboutUs
{
    width: 900px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    margin-top: 150px;
    margin-left: 240px;
    /*background-color: gray;*/
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

#gifLisa
{
    width: 350px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-style: dotted;
    border-color: aliceblue;
    /*background-color: yellow;*/
}

/*************************************/
/* STAFF */

#staffPage
{
    width: 900px;
    height: 550px;
    position: absolute;
    overflow: hidden;
    margin-top: 130px;
    margin-left: 240px;
    background-color: aliceblue;
}

#imagenStaffOne, #imagenStaffTwo
{
    position: absolute;
    width: 900px;
    height: 200px;
    border-top-style: solid;
    border-bottom-style: solid;
    /*background-color: lightpink;*/
}

#imagenStaffOne
{
    margin-top: 20px;
}

#imagenStaffTwo
{
    margin-top: 250px;
}

#imgS
{
    width: 300px;
    height: 200px;
   /* background-color: hotpink;*/
    float: left;
    padding: 1%;
}

#nameStaff
{
    width: 550px;
    height: auto;
    text-align: center;
    float: right;
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 10px;
    /*background-color: palegreen;*/
}

#nameStaff>p
{
    text-align: justify;
}

/*************************************/
/* LOCATION */

#location
{
    width: 900px;
    height: 550px;
    position: absolute;
    overflow: hidden;
    margin-top: 130px;
    margin-left: 240px;
    /*background-color: deeppink;*/
    border-left: 10px;
}

.mapsHere
{
    width: 550px;
    height: 450px;
    border:10px;
    border-style:double;
    border-color: yellow;
    /*background-color: lightpink;*/
    overflow: hidden;
}

#mapsLocation
{
    width: 300px;
    height: 200px;
    margin-top: 12%;
    margin-right: 10px;
    float: right;
    color: white;
    font-size: 1.2rem;
    text-align: justify;
    /*background-color: green;*/
}

/*************************************/
/* CONTACT */

#contact
{
    width: 900px;
    height: 550px;
    position: absolute;
    overflow: hidden;
    margin-top: 120px;
    margin-left: 240px;
   /* background-color: deeppink;*/
    border-left: 10px;
}

#formu
{
    width: 400px;
    height: 500px;
    margin: auto;
    font-size: 1.2rem;
    margin-top: 5px;
    padding: 2.5%;
    background-color: aliceblue;
}

#a 
{
    width: 350px;
    height: 25px;
    margin: 2px 0px 15px 0;
    border-width: 1px;
    font-size: 0.9rem;
}

input
{
    display: block;
}

textarea
{
    width: 350px;
    height: 100px;
    margin-top: 5px;
}

#sendBotton
{
    width: 80px;
	height: auto;
	border-style: none;
	background-color: black;
	color: white;
	margin: 25px auto;
	padding: 2px;
	font-size: 1.2rem;
}

#sendBotton:hover{
	background-color: white;
	color: #25408F;
	border-width: 3px;
	border-style: solid;
	border-color: black; 
}

/*************************************/

/* EVENTS */

#events
{
    width: 900px;
    height: 1800px;
    position: absolute;
    overflow: hidden;
    margin-top: 130px;
    margin-left: 240px;
    /*background-color: deeppink;*/
    border-left: 10px;
}


#imagenEvent
{
    position: absolute;
    width: 450px;
    height: auto;
    margin-top: 20px;
    background-color: white;
    padding: 2.5%;
    margin-left:225px;
}

#imgE
{
    width: 400px;
    height: auto;
    background-color: skyblue;
    margin-right: 20px;
    margin-bottom: 50px;
}

#imgE:hover
{
    transform: scale(1.1,1.1);
	cursor: pointer;
    border-style: dotted;
}
