/*Initial Reset*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
    background-color: #25408F; 
    width: 960px;
    height: auto;
}

/* MENU*/

nav 
{
	width: 100%;
	height: 70px;
    margin-top: 40px;
	position: absolute;
	font-size: 1.5rem;
    z-index: 2;
    background-color: white;
}

#mediaLogo
{
    position: absolute;
    width: 112px;
    margin-left: 14.5%;
    
}

#menu 
{
	list-style-type: none;
	width: 850px;
	overflow: hidden;
	margin: auto;
	line-height: 35px;
    margin-top: 17.5px;
   /* background-color: yellow;*/
}

.elementMenu
{
	float: left;
	margin: 0px 35px 0px 35px;
	/*background-color: red;*/
}

.elementMenu>a 
{
	color: #25408F;
    text-decoration: none;
}

.elementMenu > a:hover 
{
	text-decoration: underline;
}


/* SUBMENU */

#submenu
{
	width:100px;
	height: auto;
	position: absolute;
	top:50px;
	list-style: none;
	display: none;
    background-color: aliceblue;
}

.submenuElement 
{
	width: 100%;
	height: 40px;
	line-height: 40px;
}


.submenuElement>a
{
	font-size: 1.2rem;
	text-decoration: none;
	color: #25408F;
}


.submenuElement > a:hover
{
	font-weight: bold;
}

.elementMenu:hover #submenu 
{
	display: block;
}

/* IMAGE TECH SHOP */

.imgLogo
{
    width: 900px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    margin-top: 150px;
    margin-left: 240px;
    background-color: yellow;
}

#image
{
    height: 500px;
    width: auto;
    position: absolute;

}

h1 
{
    width: 300px;
    height: 70px;
    position: relative;
    margin-top: 330px;
    margin-left: 480px;
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    color: #25408F;
    background-color: white;
}

/* SHOP */

#products
{
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 100px;
   /* background-color: coral;*/
}

.containerLab
{
    /*background-color: violet;*/
    text-align: center;
    margin-left: 100px;
    color: black;
}

.product
{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: aliceblue;
}

#contDisplay, #contKeyboard, #contMouse, #contLaptop
{
    width: 1300px;
    height: 520px;
    margin-top: 30px;
    /*background-color: aquamarine;*/
}

h2
{
    color: aliceblue;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

h3
{
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: black;
}

/* FOOTER SHOP*/

#footer
{
    width: 25px;
    height: 30px;
    margin-top: 2240px;
    margin-left: 94%;
    position: absolute;
   /* background-color: fuchsia;*/
    z-index: 2;
    text-align: center;
    overflow: hidden;
    
}

#iconBox
{
    /*background-color: green;*/
    width: 100%;
}


/* ABOUT US */

#aboutUs
{
    width: 900px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    margin-top: 150px;
    margin-left: 240px;
    /*background-color: gray;*/
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

#gifLisa
{
    width: 350px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-style: dotted;
    border-color: aliceblue;
    /*background-color: yellow;*/
}


/* STAFF */

#staffPage
{
    width: 900px;
    height: 550px;
    position: absolute;
    overflow: hidden;
    margin-top: 130px;
    margin-left: 240px;
    background-color: aliceblue;
}

#imagenStaffOne, #imagenStaffTwo
{
    position: absolute;
    width: 900px;
    height: 250px;
    /*background-color: lightpink;*/
}

#imagenStaffOne
{
    margin-top: 20px;
}

#imagenStaffTwo
{
    margin-top: 300px;
}

#imgS
{
    width: 300px;
    height: 200px;
   /* background-color: hotpink;*/
    float: left;
}

#nameStaff
{
    width: 550px;
    height: auto;
    text-align: justify;
    float: right;
    font-size: 1.2rem;
    margin-top: 40px;
    padding: 10px;
    /*background-color: palegreen;*/
}

/* LOCATION */

#location
{
    width: 900px;
    height: 550px;
    position: absolute;
    overflow: hidden;
    margin-top: 130px;
    margin-left: 240px;
    /*background-color: deeppink;*/
    border-left: 10px;
}

.mapsHere
{
    width: 550px;
    height: 450px;
    border:10px;
    border-style:double;
    border-color: yellow;
    /*background-color: lightpink;*/
    overflow: hidden;
}

#mapsLocation
{
    width: 300px;
    height: 200px;
    margin-top: 12%;
    margin-right: 10px;
    float: right;
    color: white;
    font-size: 1.2rem;
    text-align: justify;
    /*background-color: green;*/
}
